<div class="p-2 d-sm-block d-md-flex justify-content-around bg-dark">
        <div>
            <h3 align="center" class="text-white" style="letter-spacing:3px;">
            LOCATION
            </h3>
            <p align="center">
            <iframe
                src="https://maps.google.com/maps?q=sabby%20study%20centre%20g&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
            <a href="https://www.pureblack.de/google-maps/"></a></p>
        </div>
        <div class="mx-md-5 mt-md-3 p-md-2 text-white" id="course">
            <h3 align="center">Courses</h3>
            <div class="dropdown-divider"></div>
            <div class="d-sm-inline d-md-block clearfix">
                <div class="d-md-inline-block float-left">Accounts</div>
                <div class="d-md-inline-block float-right">Mathematics</div>
            </div>
            <div class="d-sm-inline d-md-block clearfix">
                <div class="d-md-inline-block float-left">Economics</div>
                <div class="d-md-inline-block float-right">Business Study</div>
            </div> 
            <div class="d-sm-inline d-md-block clearfix">
                <div class="d-md-inline-block float-left">English</div>
                <div class="d-md-inline-block float-right">Science</div>
            </div>
            <div class="d-sm-inline d-md-block clearfix">
                <div class="d-md-inline-block float-left">Information Practise</div>
                <div class="d-md-inline-block float-right">Social Studies</div>
            </div>
        </div>
        <div align="center" class="text-white mt-md-3" style="padding-top:40px;">
                <h4>Connect With Us</h4>
                <a href="http://facebook.com/Sabby-study-centre-238467996266033/" style="font-size:30px;"><i class="fab fa-facebook-square mx-2"></i></a>
                <a href="https://www.google.co.in/search?q=sabby%20study%20centre&oq=sabby%20s&aqs=chrome.5.69i57j69i60l3j0j69i59.9092j0j7&sourceid=chrome&ie=UTF-8"
                     style="font-size:30px;"><i class="fab fa-google mx-2"></i></a>
                <a href="http://facebook.com" style="font-size:30px;"><i class="fab fa-instagram mx-2"></i></a>
        </div> 
</div>
<div align="center" class="bg-dark text-white">Developed By Harroshan</div>
