<nav class="navbar navbar-expand-lg navbar-light"  style="opacity:0.8;background:url(/images/bg12.jpg);background-size:cover;">
    <a class="navbar-brand head" style="color:red;" href="/home">Sabby Study Centre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-weight:900;" href="/home"> HOME</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-weight:900;" href="/notice"> NOTICES</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-weight:900;" href="/testimonial">TESTIMONIAL</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-weight:900;" href="/about">ABOUT US</a>
            </li>
            <div class="dropdown-divider bg-secondary"></div>
            <li class="nav-item">
                <a class="nav-link text-dark" style="font-weight:900;" href="/contact">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>