<div class="card m-md-4 p-3" id="sub" style="border-radius:5%;">
  <img class="card-img-top" id="subimg" src="/images/{{image}}">
  <div class="card=body">
    <h3 class="card-title" align="center">{{subject}}</h3>
    <p class="card-text">{{text}}</p>
    <p align="center"><a href="/register" class="btn btn-danger">REGISTER NOW</a></p>
    </div>
</div>