<div class="card p-3 teach">
    <img class="card-img-top" id="techimg" src="/images/{{image}}">
    <div class="card-body mt-md-2" align="center">
        <h3 class="card-title">{{name}}</h3>
        <h4 class="card-text">{{post}}</h4>
    </div>
</div>