<div class=" container my-3 p-4 bg-white clearfix testimon">
    <div align="center" class="float-md-right d-md-inline-block">
        <img src="/images/{{image}}" height="200vh" style="width:16rem;border-radius:10%;">
    <div class="d-md-inline-block testi py-5">
        {{content}} 
    </div></div> 
</div>