<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us | Sabby</title>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/home.css">

</head>
<body style="background:url(/images/bg11.jpg);background-size:cover;">
    {{> header}}

    {{!-- <div class="about text-white" style="background:rgba(08,17,25,0.6);"> --}}
    <div class="testimonial text-white" style="background:url(/images/bg8.jpg);background-size:cover;">
        <h1 align="center" class="p-2 my-md-2 py-md-5">
            INTRODUCTION
        </h1>
        <h3 align="center" class="p-3 my-3">Welcome To SABBY Study Center</h3>
    </div>
    
    <h2 align="center" class="m-4" style="letter-spacing:3px;">FOUNDER'S MESSAGE</h2>
    <div class="container">
        <div class="bg-white p-4 my-md-3 d-sm-block d-md-flex">
            <div align="center">
                <img src="/images/sabby.png" class="my-3" style="height:40vh;width:16rem;border-radius:10%;">
            </div>
            <p class="m-md-3">
                Founded in 2001 SABBY STUDY CENTRE seeks to provide a unique learning experience to students offering them a
                (Modern day application based and career approach to education ). Thus, Facilitates an education which prepares
                student for competitive world. We, hope that the academy achieves its aims in creating extravaganza students with
                your understanding support , Student’s own hard work and our faculty’s expert guidance.I welcome you to join SABBY
                STUDY CENTRE. Basis your knowledge and skill, we will carve out a learning path for you and would guide you to become
                a great programmer. Wishing you success and achievement in your career.
            </p>
        </div>
    </div>

    <h2 align="center" class="m-4" style="letter-spacing:3px;">OUR STRATEGIES</h2>
    <div class="container">
        <h5 class="container p-2 my-3 rule1 text-white rounded">
            <ul style="list-style-type:none;">
                <li>Regular Tests and Assignments</li>
                <li class="my-4">Attention on Week Students</li>
                <li class="my-4">Timely Competition of Syllabus</li>
                <li class="my-4">Extra Practice Session</li>
                <li class="my-4">Test and PREBOARD series for all classes</li>
            </ul>
        </h5>
    </div>

    <h2 align="center" class="m-4" stye="letter-spacing:3px;">RULES & REGULATIONS</h2>
    <div class="container">
        <h6 class="container p-2 p-md-4 my-md-3 rule2 text-white rounded">
            <ol>
                <li class="my-3">
                    It has been Decided to hold PTM once in a semester. The Dates will be informed through
                    SMS/Website/Notice in the Office.
                </li>
                <li class="my3">
                    Last Date of Fees submission is 5th of every month (cash/Cheque) But on parent’s request
                    we may excuse. Till 8th of the month. After that that, a penalty of Rs50/-per day will be levied without an excuse.
                </li>
                <li class="my-3">
                    Parents are required to instruct their wards (Girls in Particular) to wait for them in the institute and NOT ON THE ROAD,
                    Institute is not responsible for an untoward incident outside.
                </li>
                <li class="my-3">
                    Students are advised not to bring vehicles because of parking difficulties as we would not like to disturb our neighbors.
                    The institute does not under take the responsibility of their vehicles.
                </li>
                <li class="my-3">
                    Parents are requested to inform the institute of any change in their telephone numbers so that they can be contacted easily
                    in time of need.
                </li>
                <li class="my-3">
                    A Student can be expelled for misbehavior or misconduct or poor performance.
                </li>
                <li class="my-3">
                    The right to change the time-table(Due to health problem of any teacher or ant other unavoidable reasons) and venue rests
                    with the institute.
                </li>
                <li class="my-3">
                    The Decision of the Director shall be deemed as final in all the matters.
                </li>
            </ol>
        </h6>
    </div>

    <h2 align="center" class="m-4" stye="letter-spacing:3px;">FACILITIES</h2>
    <div class="container mb-3">
        <h5 class="container p-4 my-md-3 rule3 text-white rounded">
            <ul style="list-style-type:circle;">
                <li class="my-3">
                    Fully A.C. Classrooms
                </li>
                <li class="my-3">
                    R.O. Drinking Water
                </li>
                <li class="my-3">
                    Personal Attention
                </li>
                <li class="my-3">
                    Regular tests Assignments & Study Material
                </li>
                <li class="my-3">
                    Doubt Clearing Sessions
                </li>
                <li class="my-3">
                    SMS Services And Telephonic Updates
                </li>
                <li class="my-3">
                    CCTV Monitoring
                </li>
            </ul>
        </h5> 
    </div>       
 
    {{> footer}}
</body>
</html>